@model  DatingProjekt.Models.And
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutInloggad.cshtml";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.js"></script>
</head>
<div class="alla">
<div class="bild">
    <img src="~/Content/Images/@Model.Profilbild" class="img-rounded" alt="hej">
    <br /><br />
    <div class="knappar">
    @using (Html.BeginForm("UserPicture", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <label class="btn btn-info">
            <input name="file" type="file" style="display: none" />
            Välj bild
        </label>
                <label class="btn btn-info">
                    <input type="submit" value="Change Profile" style="display: none" />
                    Ladda upp
                </label>
            }
        </div>
   </div>
<div class="ProfilInfo">
    <p>Användarnamn: @Model.Användarnamn</p>
    <p>Namn: @Model.Förnamn @Model.Efternamn</p>
    <p>Ålder: @Model.Ålder</p>
    @if (@Model.Kön)
    { <p>Kön: Hane</p> }
    else
    { <p>Kön: Hona</p> }
</div>
    </div>
<div class="helaprofilen">
    <div class="col-md-8 col-centered" id="kolumndiv">
        <div class="meddelandeDiv">
            <h3>Meddelanden: </h3>
            <br />
            <div class="meddelandeDiv" id="meddelanden">
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(function () {
            $.get('../APIControllers/Message/hamtaMeddelanden?and=' + '@Model.Användarnamn', function (data) {
                console.log(data);
                $.each(data.Meddelanden, function () {
                    $('#meddelanden').prepend('<h5>Meddelande: ' + this.Meddelanden + '</h5> <br/>');
                    $('#meddelanden').prepend('<div class = "well"> <h4>Avsändare: ' + this.AvsändarNamn + '</h4>');
                    $('#meddelanden').append('<br/>');
                    $('#meddelanden').append('</div>');

                });
            });
        });
    </script>
</div>

