@model DatingProjekt.Models.UppdateraAndModel
@{
    ViewBag.Title = "UppdateraAnd";
    Layout = "~/Views/Shared/_LayoutInloggad.cshtml";
}

<h2>UppdateraAnd</h2>

@using (Html.BeginForm())
{
    <h4>Glöm inte att ange ditt lösenord för att kunna uppdatera din profil!</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Förnamn, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Förnamn, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Efternamn, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Efternamn, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ålder, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Ålder, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Kön, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Kön, new List<SelectListItem>
            {
                new SelectListItem {Text = "Hane", Value = "true"},
                new SelectListItem {Text = "Hona", Value = "false"}
            }, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IntresseradAvHane, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.IntresseradAvHane, new List<SelectListItem>
       {
           new SelectListItem {Text = "Ja", Value = "true" },
           new SelectListItem {Text = "Nej", Value = "false" }
       },
     new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IntresseradAvHona, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.IntresseradAvHona, new List<SelectListItem>
       {
           new SelectListItem {Text = "Ja", Value = "true" },
           new SelectListItem {Text = "Nej", Value = "false" }
       },
     new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Beskrivning, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Beskrivning, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lösenord, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Lösenord, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BekräftaLösenord, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.BekräftaLösenord, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aktiv, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Aktiv, new List<SelectListItem>
       {
           new SelectListItem {Text = "Ja", Value = "true" },
           new SelectListItem {Text = "Nej", Value = "false" }
       },
     new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Allmän, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Allmän, new List<SelectListItem>
       {
           new SelectListItem {Text = "Ja", Value = "true" },
           new SelectListItem {Text = "Nej", Value = "false" }
       },
     new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input class="btn btn-info" type="submit" value="Uppdatera profil" />
    </div>
}