@model DatingProjekt.Models.VänModel
@{
    ViewBag.Title = "allaVänner";
    Layout = "~/Views/Shared/_LayoutInloggad.cshtml";
}

<h2>Alla dina nuvarande vänner:</h2>

    @foreach (var and in Model.ListaVänner)
    {
        <div>
            <img src="~/Content/Images/@and.Profilbild" class="img-circle" width="250" height="250" alt="hej">
            <h5>@and.Förnamn @and.Efternamn</h5>
            <h5>Användarnamn: @and.Användarnamn</h5>
            <h5>Ålder: @and.Ålder</h5>
            @Html.ActionLink("Se profil", "visaProfil", "User", new { visitUser = and.Användarnamn }, new { @class = "btn btn-info" })
        </div>
    }


